/* ==========================================================================
   generic {}
========================================================================== */
*, *::before, *::after {
  box-sizing: border-box;
}










  
   /* ==========================================================================
   base {}
========================================================================== */












  

   /* ==========================================================================
   mise en page {}
========================================================================== */

body{
    width: 1280px;
    margin: 0 auto;
}








  

   /* ==========================================================================
   element/typographie {}
========================================================================== */
a{
    text-decoration: none;
    color: #000000;
}









  

   /* ==========================================================================
   components {}
========================================================================== */
