/* ==========================================================================
   generic {}
========================================================================== */
*, *::before, *::after {
  box-sizing: border-box;
}










  
   /* ==========================================================================
   base {}
========================================================================== */
body{
    font: 400 1.125rem 160% "Frank Ruhl Libre", serif; 
  font-optical-sizing: auto;
  color: #ffffff;
  background-color: #07020d;
  
}











  

   /* ==========================================================================
   mise en page {}
========================================================================== */

body{
    width: 1280px;
    margin: 0 auto;
}








  

   /* ==========================================================================
   element/typographie {}
========================================================================== */
a{
    text-decoration: none;
}









  

   /* ==========================================================================
   components {}
========================================================================== */

.header{
    color: #07020d;
}
.header .wrapper{
background-color: rgba(255, 255, 255, 0.8);
border-radius: 5px;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 10px 20px 10px 20px;
}
.logo{
    font-size: 1.875rem ;
    color: inherit;
}




  
 
